@using ClassManagementWebApp.Security
@using Microsoft.IdentityModel.JsonWebTokens
@inject JWTAuthenticationStateProvider AuthStateProvider
@inject IAccessTokenService AccessTokenService
@inject IAuthService AuthService
@inject IStudentService StudentService
@inject ITeacherService TeacherService

@if (student != null)
{
    <p>Welcome, @student.FirstName</p>
    <p>Your current average is: @currentAverage</p>
    <p>Courses: </p>
    @foreach (var course in currentClasses)
    {
        <button @onclick="() => OnSelectCourse(course)">@course.Name</button>
    }

    <br />
    <br />

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Course</th>
                <th scope="col">Grade</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var grade in currentGrades)
            {
                <tr>
                    <td>
                        @{
                            var className = currentClasses.FirstOrDefault(c => c.Id == grade.CourseId)?.Name ?? "Unknown Class";
                        }
                        @className
                    </td>
                    <td>@grade.Value</td>
                    <td>@grade.DateAssigned.ToString("yyyy-MM-dd")</td>
                </tr>
            }
        </tbody>
    </table>

    <StudentGradeHistory />
}
else
{
    <p>Loading...</p>
}

<CourseComponent @ref="courseComponent" />

@code {
    public Student student { get; set; }
    public string selectedCourse { get; set; } = string.Empty;

    private List<Class> currentClasses = [];
    private List<Grade> currentGrades = [];
    private double currentAverage;
    private CourseComponent courseComponent;

    protected override async Task OnInitializedAsync()
    {
        InitializeStudent();
    }

    public void OnSelectCourse(Class course)
    {
        courseComponent.ShowCourseInfo(course, student.Grades, student.Id);
    }

    public async void InitializeStudent()
    {
        var state = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = state.User;
        if (user.Identity.IsAuthenticated)
        {
            var token = await AccessTokenService.GetToken();
            var studentId = user.Claims.FirstOrDefault(x => x.Type == JwtRegisteredClaimNames.Sub)?.Value;

            student = await StudentService.GetStudentByIdAsync(studentId);

            student.Classes = await StudentService.GetStudentClassesAsync(studentId);
            student.Grades = await StudentService.GetStudentGradesAsync(studentId);

            foreach (var course in student.Classes)
            {
                if (course.EndDate > DateTime.Now)
                    currentClasses.Add(course);
            }

            var currentClassIds = currentClasses.Select(c => c.Id).ToHashSet();
            currentAverage = student.Grades
                .Where(x => currentClassIds.Contains(x.CourseId))
                .Select(x => x.Value)
                .DefaultIfEmpty(0)
                .Average();

            currentGrades = student.Grades
                .Where(x => currentClassIds.Contains(x.CourseId))
                .ToList();

            currentGrades = currentGrades.OrderByDescending(x => x.DateAssigned).ToList();

            StateHasChanged();
        }
    }
}